@import './fonts.css';
@import './iconfont.css';
@import './shiki.css';
@import './markdown.css';
@import './signature.css';
@import './swup.css';

::selection {
  background-color: theme('colors.accent');
  color: white;
}

[data-theme='dark'] ::selection {
  background-color: theme('colors.accent/0.3');
}

html {
  color: theme('textColor.primary');
  background-color: theme('backgroundColor.root');
  scroll-padding-top: 64px;
}

html.gray {
  filter: grayscale(1);
}

* {
  scrollbar-width: thin;
  transition: border-color 0.2s ease;
}

:root {
  text-autospace: normal;
}
