/*! cgit-inspired light theme for giscus */

main {
  --color-prettylights-syntax-comment: #838183;
  --color-prettylights-syntax-constant: #b07e00;
  --color-prettylights-syntax-entity: #551a8b;
  --color-prettylights-syntax-storage-modifier-import: #333;
  --color-prettylights-syntax-entity-tag: #116329;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #bf0303;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #333;
  --color-prettylights-syntax-markup-bold: #333;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #eaeef2;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-brackethighlighter-angle: #57606a;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;

  --color-btn-text: #333;
  --color-btn-bg: #eee;
  --color-btn-border: #aaa;
  --color-btn-shadow: none;
  --color-btn-inset-shadow: none;
  --color-btn-hover-bg: #ccc;
  --color-btn-hover-border: #aaa;
  --color-btn-active-bg: #ccc;
  --color-btn-active-border: #aaa;
  --color-btn-selected-bg: #ccc;

  --color-btn-primary-text: #fff;
  --color-btn-primary-bg: #333;
  --color-btn-primary-border: #333;
  --color-btn-primary-shadow: none;
  --color-btn-primary-inset-shadow: none;
  --color-btn-primary-hover-bg: #555;
  --color-btn-primary-hover-border: #555;
  --color-btn-primary-selected-bg: #555;
  --color-btn-primary-selected-shadow: none;
  --color-btn-primary-disabled-text: #fff;
  --color-btn-primary-disabled-bg: #999;
  --color-btn-primary-disabled-border: #999;

  --color-action-list-item-default-hover-bg: #eee;
  --color-segmented-control-bg: #eee;
  --color-segmented-control-button-bg: #fff;
  --color-segmented-control-button-selected-border: #aaa;

  --color-fg-default: #333;
  --color-fg-muted: #777;
  --color-fg-subtle: #777;

  --color-canvas-default: #fff;
  --color-canvas-overlay: #fff;
  --color-canvas-inset: #f7f7f7;
  --color-canvas-subtle: #eee;

  --color-border-default: #ccc;
  --color-border-muted: #ddd;

  --color-neutral-muted: rgb(175 184 193 / 20%);
  --color-accent-fg: blue;
  --color-accent-emphasis: blue;
  --color-accent-muted: rgb(84 174 255 / 40%);
  --color-accent-subtle: #ddf4ff;
  --color-success-fg: #1a7f37;
  --color-attention-fg: #9a6700;
  --color-attention-muted: rgb(212 167 44 / 40%);
  --color-attention-subtle: #fff8c5;
  --color-danger-fg: #d1242f;
  --color-danger-muted: rgb(255 129 130 / 40%);
  --color-danger-subtle: #ffebe9;

  --color-primer-shadow-inset: none;
  --color-scale-gray-1: #eee;
  --color-scale-blue-1: #b6e3ff;

  --color-social-reaction-bg-hover: #eee;
  --color-social-reaction-bg-reacted-hover: #b6e3ff;
}

main * {
  border-radius: 0 !important;
}

main .gsc-comment,
main .gsc-timeline,
main .gsc-timeline-item,
main .gsc-reply,
main .gsc-reactions,
main .gsc-upvotes,
main .gsc-header,
main .gsc-reactions-button,
main .gsc-social-reaction-summary,
main .btn,
main .form-control,
main textarea,
main input,
main .Box,
main .border {
  border-color: #ccc !important;
}

main .pagination-loader-container {
  background-image: url('https://github.com/images/modules/pulls/progressive-disclosure-line.svg');
}

main .gsc-loading-image {
  background-image: url('https://github.githubassets.com/images/mona-loading-default.gif');
}
