---
import { Giscus } from './Giscus'
import { giscus } from '@/config.json'
---

<div>
  {giscus.repo && <Giscus {...giscus} client:visible />}
  <script define:vars={{ giscusConfig: giscus }}>
    console.log('Comments Debug:', {
      hasGiscusRepo: !!giscusConfig.repo,
      giscusConfig: giscusConfig,
      currentHostname: window.location.hostname,
      shouldShowComments: !window.location.hostname.includes('vio.vin')
    });
  </script>
</div>